*{
    background-color: black;
    color: white;
}

input{
    background-color: #010203;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    margin: 10px;
    margin-left: 10px;
    padding: 10px;
}
button{
    padding: 10px;
    background-color: #324ce4;
    color: white;
}
